@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap");

/* Design */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* html {
  background-color:#202020;
  
}
*/
body {
  background-color: #202020;
  font-family: "Nunito", sans-serif !important;
}

.bar {
  background-color: var(--primary-color) !important;
  padding: 1rem 2rem;
}
.logo {
  width: 80%;
}
.menu-icon {
  width: 70% !important;
}

.nav-item {
  padding: 1.5rem 1rem 0.1rem 1rem;
}

.navbar-menu {
  background: transparent !important;
  border: none !important;
}

/* The sidepanel menu */
.sidepanel {
  padding-top: 10rem !important;
  background-color: #4286f5;
  transition: all 0.5s ease-in-out;

  height: 100vh;
  width: 0%;
  position: fixed;
  z-index: 9999;
  right: 0;
  top: 0; /* Black w/opacity */
  overflow: hidden;
}

/* The sidepanel links */

.sidepanel .smenu {
  text-decoration: none;
  transition: 0.3s;
  color: #fff;
  font-family: var(--Nunito);
  font-size: 2.5rem;
  font-weight: 800;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  padding: 0 4.5rem 2rem 0;
}

.sidepanel .smenu:hover {
  color: var(--yellow-color);
}

.smenu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  padding: 0px;
}

/* Position and style the close button (top right corner) */
.sidepanel .closebtn {
  position: absolute;
  top: 2rem;
  right: 2.5rem;
}

.overlay {
  /* Height & width depends on how you want to reveal the overlay (see JS below) */
  height: 100%;
  width: 0%;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  background-color: #202020e0; /* Black w/opacity */
  overflow-x: hidden;
  transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

.container,
.container-lg,
.container-md,
.container-sm,
.container-xl {
  max-width: 1200px;
}
/*Our tem related  start*/
.nav-tabs {
  border: none !important; /*Underliner below team of 2021-22 btn*/
}
.team-main {
  background-color: var(--primary-color) !important;
  padding: 1px 0 10rem 0;
}
.team-btn {
  background-color: transparent !important;
  text-align: center !important;
  color: #ffff !important;
  font-family: var(--Lato);
  font-weight: 700;
  padding: 0.5rem 4rem;
  font-size: var(--para-font-size) !important;
  border-radius: 0.6rem;
  border: 0.1rem solid #fff !important;
  transition: all 0.3s ease-in-out;
}
.team-page .active {
  text-align: center !important;
  background-color: #4286f5 !important;
  color: #ffff !important;
  border: 2px solid transparent !important;
  color: white !important;
  border-radius: 8px !important;
  transition: all 0.3s ease-in-out;
}
.t23-24 {
  font-family: var(--Lato);
  color: #ffff !important;
  font-weight: 800;
  font-size: var(--super-header-font-size-mobile) !important;
  text-align: center !important;
  padding: 15rem 0;
}
/*Our tem related  end */

.text {
  font-family: "Nunito", sans-serif;
  font-weight: 900;
  color: #ffffff;
  font-size: 3rem;
  text-align: center;
}
.web-text {
  text-align: center;
  margin-top: -2rem;
}

h1 {
  font-size: 24px;
  font-weight: 400;
  text-align: center;
}

img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin-top: 8rem;
}

.lead-card {
  border: 4px solid #ea4235 !important;
}

.core-team-card {
  border: 4px solid #fabb04 !important;
}

.champ-card {
  border: 4px solid #14b25f !important;
}

.cards_item {
  display: flex;
  padding: 1rem;
  margin-top: 1rem;
}

.team-cards {
  margin-top: 10rem !important;
}

.card-row {
  margin-top: 8rem !important;
  position: relative;
}

.card-col-1 {
  position: absolute;
  top: -4rem;
}

.card-col-3 {
  position: absolute;
  top: -7rem;
}

.card {
  background-color: #ffffff;

  border-radius: 0.25rem;

  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 17rem;
}
.card_image {
  background-color: #fff;
  padding: 3.4px;
  max-height: 270px !important;
}
.card_image > img {
  height: 160px !important;
  width: 100% !important;
  object-fit: fill !important;
}
.card_content {
  padding: 1rem;
  background: #ffffff;

  height: 9.2rem;
}

.card_title {
  color: #202020;
  font-size: 1.1rem;
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: capitalize;
  margin-bottom: 1rem;
  /* margin-right: -1rem; */
  font-style: italic;
}

.card_text {
  color: #202020;

  font-size: 1.6rem;
  /* margin-left: -1.5rem; */
  margin-bottom: 0.5rem;
  margin-top: -1rem;
  font-weight: 800;
  text-align: left;
}
.card-logo-item {
  display: flex;
  position: relative;
  width: 9.6rem;
}
.card-logo {
  padding: 3px;
}

.center-col {
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 768px) {
  .card-col-1 {
    position: relative;
  }

  .card-col-3 {
    position: absolute;
    top: 0rem;
  }

  .col-team-2 {
    margin: 2rem 0rem;
  }

  .card-col-2 {
    position: relative;
    margin-bottom: 2rem;
    margin-top: -2rem !important;
  }

  .card-row {
    margin-top: 6rem !important;
  }

  .website-team .card-row {
    margin-top: 2rem !important;
  }

  .navya-col {
    margin-top: -1.7rem !important;
  }

  .navbar {
    background-color: var(--primary-color) !important;
    padding: 1rem 1rem;
    width: 100vw !important;
    flex-wrap: nowrap !important;
    /* display: none; */
  }

  .logo {
    width: 90%;
  }
  .menu-icon,
  .back-icon {
    width: 90% !important;
  }

  .first {
    order: 1;
  }

  .third {
    order: 3;
  }

  .second {
    order: 2;
  }

  .team-btn {
    font-family: var(--Lato);
    font-weight: 400;
    padding: 0.5rem 4rem;
    font-size: var(--para-font-size-mobile) !important;
    border-radius: 0.6rem;
    border: 0.1rem solid #fff !important;
    transition: all 0.3s ease-in-out;
  }
  .team-page .active {
    text-align: center !important;
    background-color: #4286f5 !important;
    color: #ffff !important;
    border: 2px solid transparent !important;
    color: white !important;
    border-radius: 8px !important;
    transition: all 0.3s ease-in-out;
  }
  .t22-23 {
    font-family: var(--Lato);
    color: #ffff !important;
    font-weight: 800;
    font-size: var(--super-header-font-size-mobile) !important;
    text-align: center !important;
    padding: 15rem 0;
  }
  .t23-24 {
    font-family: var(--Lato);
    color: #ffff !important;
    font-weight: 800;
    font-size: var(--super-header-font-size-mobile) !important;
    text-align: center !important;
    padding: 15rem 0;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .card-col-1 {
    position: relative;
  }

  .card-row:nth-child(2) {
    margin-top: 12rem !important;
  }

  .card-col-2 {
    position: relative;
  }

  .card-col-3 {
    position: relative;
  }

  .card-row {
    margin-top: 3rem;
  }

  .first {
    order: 1;
  }

  .card_text {
    color: #202020;

    font-size: 1.6rem !important;
    margin-left: 0rem;
    font-weight: 800;

    text-align: left !important;
  }

  .second {
    order: 2;
  }

  .card_title {
    font-size: 0.8rem !important;
  }
}
